:root {
    --color-primary-rgb-values: 133, 255, 225;
    --color-secondary-rgb-values: 0, 0, 5;
    --bgColor: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 15%, rgb(var(--color-secondary-rgb-values)));
    --sub-bgColor: color-mix(in srgb, currentcolor 20%, rgb(var(--color-secondary-rgb-values)));
    --bgColorGradient: linear-gradient(in hsl, transparent 10%, rgba(var(--color-primary-rgb-values), 0.2) 98%, transparent 100%);
    --border-color: color-mix(in hsl, rgb(var(--color-primary-rgb-values)) 70%, rgb(10, 10, 10) 60%);
    --text-color-standard: 215, 215, 215;
    --text-color-mixed: color-mix(in hsl, rgb(var(--color-primary-rgb-values)) 90%, rgb(var(--text-color-standard)) 10%);
    --bx-shdw-light: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.2);
    --bx-shdw-dark: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    --standard-font: -system-ui, Arial, Helvetica, sans-serif; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /** Removes stupid highlight on tap *feelsgoodmeme* **/
    -webkit-tap-highlight-color: transparent;
    /* Default animation for elements getting their height set via setAutoHeight(); */
    transition: height 325ms ease-in-out;
}

html,
body,
main {
    height: 100%;
    max-width: 100vw;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    /** Removes animations if users have set that preference in their browser or on their device **/
    * {
        animation-duration: 0.01s !important;
        transition-duration: 0.01s !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: var(--standard-font);
    background-color: var(--bgColor);
    transition: background-color 100ms;
}

.homepageBg {
    background-color: black;
    height: 100lvh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#tsparticles {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100lvh;
    z-index: -1;
}

button {
    transition: transform 180ms cubic-bezier(.8, .8, 0.5, 2);
    border: none;
    background: unset;
    text-decoration: none;
    font: inherit;

    >* {
        pointer-events: none;
    }
}

button.button-tapped {
    transform: scale(0.93);
}

h2.button-tapped {
    transform: scale(0.97);
}

/****** NAV ******/
nav {
    display: flex;
    justify-content: start;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 6px 2px hsla(0, 0%, 0%, 0.5);
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 3;

    @media (max-width: 768px) {
        justify-content: space-between;
    }

    >.nav-toggle {
        /** This is the hamburger for mobile nav menu **/
        border-radius: 10px;
        background-color: hsla(0, 0%, 0%, 0.1);
        backdrop-filter: blur(3px);
        max-height: 32px;
        min-width: 40px;
        aspect-ratio: 1;
        order: 3;
        position: relative;
        border: var(--border-color) 2px solid;
        display: inline-block;
        cursor: pointer;

        & svg {
            height: 24px;
            aspect-ratio: 1;
            fill: rgb(var(--color-primary-rgb-values));
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    >svg {
        height: 56px;
        order: 1;
        fill: rgb(var(--color-primary-rgb-values));
    }

    & .nav-list {
        display: flex;
        list-style: none;
        align-items: center;
        margin-inline: 2rem;
        order: 2;
        overflow: visible;
        width: 100%;
        height: 100%;

        >.nav-item {
            padding: 0.2rem;
        }
    }

    #color-picker-btn {
        margin-left: auto;
        order: 3;
        background-color: unset;
        border: 2px solid var(--border-color);
        border-radius: 10px;
        padding: 0.3rem 0.8rem;
        font-weight: bold;
        cursor: pointer;

        >i {
            vertical-align: middle;
            font-size: 1.5rem;
            color: rgb(var(--color-primary-rgb-values));
        }

        @media (max-width: 768px) {
            margin-block: 0.5rem;
        }
    }

    & .nav-dropdown {
        background-color: var(--bgColor);

        @supports(backdrop-filter: none) {
            background-color: hsla(0, 0%, 0%, 0.3);
            backdrop-filter: blur(3px);
        }
    }

    & .indicator {
        position: absolute;
        bottom: 0;
        height: 3px;
        background-color: var(--border-color);
        transition: left 250ms ease, width 250ms ease;
        border-radius: 50vw;

        @media (max-width: 768px) {
            display: none;
        }
    }

    & .mobile-indicator {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(in hsl, transparent 10%, rgba(var(--color-primary-rgb-values), 0.35) 98%, transparent 100%);
        opacity: 0;
        transition: opacity 400ms ease;
        z-index: -1;
    }
}

.nav-item {
    font-family: 'HyliaSerif';
    font-weight: 500;
    letter-spacing: 0.05em;

    & #wiki-list-dropdown {
        /** This is the dropdown BUTTON, not the list that appears **/
        padding: 0.3rem 0.5rem;
        position: relative;

        &::after {
            /** This is the arrow **/
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    & button {
        color: var(--text-color-mixed);
        cursor: pointer;
        position: relative;
    }

    & .pageNav {
        padding: 0.5rem 0.8rem;
    }
}

.nav-with-content {
    background-color: hsla(0, 0%, 0%, 0.25);

    &::before {
        opacity: 0.6;
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: hsla(0, 0%, 0%, 0.8);
    }

    @supports (backdrop-filter: none) {
        &::after {
            background-color: unset;
            backdrop-filter: blur(2px)
        }
    }
}

/** Mobile only Nav Rules **/
@media (max-width: 768px) {
    nav {
        display: grid;
        grid-template-areas: "nav-icon nav-toggle" "nav-list nav-list";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        /* outline: lime 1px dashed; */
        max-width: 100vw;
        border-radius: 0 0 13px 13px;

        >.nav-list {
            display: flex;
            flex-direction: column;
            grid-area: nav-list;
            justify-self: end;
            margin: 0 1rem;
            text-align: end;
            overflow: hidden;
            height: 0;
            align-items: flex-end;
        }

        >svg {
            grid-area: nav-icon;
        }

        >.nav-toggle {
            grid-area: nav-toggle;
            justify-self: end;
        }

        & #wiki-list-dropdown {
            justify-self: center;
            align-self: center;
        }

        & .nav-dropdown {
            position: relative;
            height: 0;
            overflow: hidden;
            background-color: hsla(0, 0%, 0%, 0.1);
            transition: height 350ms ease-in-out;
            border-radius: 2vw;

            >ul>li {
                margin-inline-start: 5rem;
                margin-block: 0.2rem;
                list-style-type: none;
                padding: 0.25rem;
            }
        }
    }

    .nav-item {
        position: relative;

        & button::before {
            content: "\edfc";
            font-family: 'Boxicons';
            position: absolute;
            transform: translate(-110%, -12%);
            font-size: 1.5rem;
            opacity: 0;
            transition: opacity 250ms 300ms ease;
        }

        & button[aria-current="page"]::before {
            opacity: 1;
        }
    }

    /** Animations for Nav list **/
    .nav-list[aria-expanded="true"] {
        transition: height 400ms cubic-bezier(.93, .34, .1, 1.36);
    }

    .nav-list[aria-expanded="false"] {
        transition: height 200ms ease-out;
    }

    /** Animations for Nav dropdown **/
    .nav-dropdown[aria-expanded="true"] {
        transition: height 400ms cubic-bezier(.93, .34, .1, 1.36);
    }

    .nav-dropdown[aria-expanded="false"] {
        transition: height 200ms ease-out;
    }
}

/** Desktop only Nav Rules **/
@media (min-width: 768px) {

    & .nav-dropdown {
        position: absolute;
        overflow: hidden;
        background-color: hsla(0, 0%, 0%, 0.25);
        border: var(--border-color) 2px solid;
        border-radius: 20px;
        translate: -30% 1.5rem;
        height: 0;

        & li {
            padding: 0.35rem;
            font-size: 0.85rem;
            font-family: 'BreathOfWild';
            text-align: center;
            text-transform: uppercase;
        }
    }

    & .nav-dropdown[aria-expanded="false"] {
        opacity: 0;
        transition:
            height 200ms ease-out,
            opacity 50ms ease-in;
    }

    & .nav-dropdown[aria-expanded="true"] {
        opacity: 1;
        transition:
            height 250ms ease-out,
            opacity 50ms 50ms ease-in;
    }
}

/****** Color Picker ******/
#color-picker-modal {
    position: fixed;
    top: 100px;
    right: -350px;
    /* Hidden off-screen initially */
    width: 350px;
    box-shadow: var(--bx-shdw-dark);
    z-index: 1000;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    transition: right 300ms ease-in;


    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bgColor);
        z-index: -1;
        border-radius: 10px;
        opacity: 0.6;
    }
}

.modal-content {
    position: relative;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: max-content;

    >.button-row {
        display: flex;
        justify-content: space-between;
        align-items: center;


        >.close-btn,
        .reset-btn {
            color: rgb(var(--color-primary-rgb-values));
            cursor: pointer;
            place-self: end;
            background-color: unset;
            border: unset;
            height: 40px;
            aspect-ratio: 1/1;

        }

        >.close-btn {
            font-size: 2.5rem;
        }

        >.reset-btn {
            font-size: 2rem;
            transform: translateY(2px);
        }
    }

    >.picker {
        width: 100%;
    }
}

/****** Table of Contents ******/
.toc {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    box-shadow: var(--bx-shdw-light);
    overflow: hidden;
    height: min-content;
    width: 100%;
    max-width: 170px;
    margin-inline: auto;

    >button {
        color: var(--text-color-mixed);
        font-family: 'HyliaSerif';
        font-weight: 500;
        letter-spacing: 0.05em;
        font-size: clamp(0.875rem, 0.8472rem + 0.1235vw, 1rem);
        cursor: pointer;
        border-bottom: 2px solid var(--border-color);
        padding: 0.25rem 0.5rem;
        box-shadow: inset var(--bx-shdw-dark);

        &:last-of-type {
            border-bottom: none;
        }
    }

    @media (max-width: 1280px) {
        max-width: 95vw;
        width: 600px;
        margin-inline: auto;
        position: unset;
    }
}

/****** General Content Styling ******/
.content-section {
    /* width: min(95vw, 1280px);
    margin: 0 auto;
    padding-top: 15px;

    &:has(> .logo-centerer) {
        height: 100%;
    } */
    display: grid;
    grid-template-areas: "toc content scrollToTop";
    grid-template-columns: 13% 74% 13%;


    >.toc {
        grid-area: toc;

    }

    >.content {
        grid-area: content;
        max-width: min(100%, 1280px);
        margin-inline: auto;
    }

    >.scroll-button-container {
        grid-area: scrollToTop;
    }

    &:has(> .logo-centerer) {
        display: unset;
        height: 100lvh;
    }

    @media (max-width: 1280px) {
        grid-template-areas: "toc" "content" "scrollToTop";
        grid-template-columns: 1fr;
    }
}

/****** Footer Bar ******/
.site-footer {
    display: none;
    justify-content: center;
    padding-block: 1.5rem;
    gap: 0.5rem;
    width: fit-content;
    margin-inline: auto;

    >.social-media-button {
        font-size: 2rem;
        color: hsl(0, 0%, 50.2%);
        cursor: pointer;
    }
}

/****** Scroll To Top Button ******/
.scroll-button-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;

    >.scroll-button {
        font-size: 2rem;
        cursor: unset;
        text-align: center;
        border-radius: 50%;
        box-shadow: var(--bx-shdw-dark);
        color: var(--text-color-mixed);
        position: relative;
        aspect-ratio: 1 / 1;
        width: 45px;
        opacity: 0;
        transition: opacity 250ms ease;

        >i {
            vertical-align: middle;
        }

        >svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: var(--bgColor);
            z-index: -1;
            stroke: var(--border-color);

            >circle {
                stroke-dashoffset: 0;
                stroke-dasharray: 500;
                stroke: var(--border-color);
                stroke-width: 3px;
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
            }
        }
    }
}

/****** Code Styling ******/
.code-box {
    background-color: hsl(0, 0%, 6%);
    width: fit-content;
    display: inline-block;
    margin-inline: 0.15rem;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
    color: var(--text-color-mixed);
    font-family: monospace;
}

/****** Alert Bar ******/
.highlight-bar {
    font-family: 'HyliaSerif';
    width: 100%;
    max-width: 98vw;
    margin-inline: auto;
    text-align: center;
    border: 3px solid var(--border-color);
    border-radius: 15px;
    padding: 1rem 1rem 0.7rem 1rem;
    margin-block: 1rem;
    color: var(--text-color-mixed);
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-light);
    background-color: var(--sub-bgColor);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '*';
        color: inherit;
        font-family: 'TriForce';
        font-size: 1.5rem;
        margin-inline: 1.5rem;
        vertical-align: -0.2rem;
    }
}

/****** Popovers ******/
#popoverElement {
    /** This styles the popover itself **/
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: var(--bgColor);
    padding: 0.5rem;
    color: var(--text-color-mixed);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    font-family: 'HyliaSerif';
    font-size: clamp(0.625rem, 0.5833rem + 0.1852vw, 0.8125rem);
    letter-spacing: 0.05em;
    --animation-time: 250ms;
    transition-behavior: allow-discrete;
    z-index: 9999;

    &.show:empty {
        display: none;
        animation: unset;
        opacity: 0;
        transition: all 0ms;
    }

    &.show {
        display: block;
        animation: fadeIn var(--animation-time) forwards;
    }

    &.hide {
        animation: fadeOut var(--animation-time) forwards;
    }

    &:has(>.card-pop-wrapper) {
        padding: 0;
        box-shadow: var(--bx-shdw-dark);
    }
}

.popover-text {
    /** This styles text that will initiate a popover **/
    display: inline;
    color: var(--text-color-mixed);
    text-decoration: 1px dotted underline;
    font-weight: 600;
    cursor: help;
    text-wrap: nowrap;
}

.card-pop-wrapper {
    display: grid;
    grid-template-areas:
        "title title"
        "image description";
    grid-template-rows: 2em 1fr;
    grid-template-columns: 80px 1fr;
    max-width: min(80vw, 300px);
    padding-bottom: 0.3em;
    margin: 1em;
    gap: 0.5em;
    cursor: pointer;

    >h3 {
        grid-area: title;
        text-align: start;
        align-self: center;
        font-family: 'breathofwild';
        font-size: 1.25rem;
        color: var(--text-color-mixed);
    }

    >img {
        grid-area: image;
        width: 90%;
        height: auto;

        &.large {
            border: 2px solid var(--border-color);
            border-radius: 10px;
        }
    }

    >p {
        grid-area: description;
        font-family: var(--standard-font);
        color: rgb(var(--text-color-standard));
        text-wrap: balance;
        text-wrap: pretty;
        /** All below control the number of lines in the description **/
        line-clamp: 6;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        font-size: 0.75rem;
        /** Needs to be hard value not dynamic to avoid cliping the webkit box **/
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: preserve-break;
        overflow: hidden;
    }

    &:has(>img.large) {
        grid-template-areas:
            "title image"
            "description description";
        grid-template-rows: auto 1fr;
        grid-template-columns: 80px 1fr;

        >img {
            height: 80px;
            aspect-ratio: auto;
            place-self: end;
        }
    }
}

/****** Animation Classes ******/
.quick-flash {
    animation: quickFlash 800ms 250ms forwards;
}

/****** HOME PAGE ******/
.logo-centerer {
    display: grid;
    margin: auto;
    height: 100%;
    place-content: center;
    place-items: center;
}

.logo-container {
    width: fit-content;
    font-family: 'BreathOfWild';
    color: white;
    text-align: center;
    font-size: clamp(2.25rem, 1.8173rem + 1.9231vw, 3.5rem);

    >img {
        width: 95vw;
        height: auto;
        max-width: 900px;
        max-height: 100%;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(var(--color-primary-rgb-values), 1);
        mix-blend-mode: multiply;
        /* Adjust blend mode as needed */
    }
}

/****** ABOUT PAGE ******/
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-mixed);
}

.about-title {
    font-size: clamp(1.125rem, 0.6875rem + 1.9444vw, 2rem);
    font-family: 'HyliaSerif';
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.about-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "list-items";
    place-items: center;
    width: min(90vw, 1280px);
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    margin-block: 1rem;
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
    border: 2px solid var(--border-color);


    >.about-subtitle {
        grid-area: title;
        min-height: 55px;
        font-family: 'HyliaSerif';
        width: 100%;
        font-size: clamp(1rem, 0.9375rem + 0.2778vw, 1.125rem);
        letter-spacing: 0.05em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem 0.5rem;
        background-color: hsla(0, 0%, 0%, 0.15);
        background-image: var(--bgColorGradient);
        box-shadow: var(--bx-shdw-dark);


        &::before,
        &::after {
            content: " * ";
            font-family: "Triforce";
            color: currentColor;
            font-size: 32px;
            padding-top: 0.4rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }

    >ul {
        grid-area: list-items;
        padding: 0.75rem 1.5rem;
        place-self: start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


        >li {
            font-family: var(--standard-font);
            font-weight: 400;
            font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
            letter-spacing: normal;
            color: rgb(var(--text-color-standard));
            text-wrap: balance;
            text-wrap: pretty;
            padding-left: 0.25rem;

            &::marker {
                content: "*";
                font-family: "Triforce";
                color: var(--text-color-mixed);
            }

            & button {
                color: var(--text-color-mixed);
                text-decoration: underline;
                font-family: var(--standard-font);
                font-weight: 600;
                font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
                letter-spacing: normal;
                cursor: pointer;
            }
        }
    }
}

/****** Getting Started Page ******/
.get-sta-button {
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color-mixed);
    font-family: var(--standard-font);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: normal;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    margin: 0.25rem 0.5rem;
    box-shadow: 0 0 5px transparent, inset var(--bx-shdw-dark);

    >i {
        padding-right: 0.25rem;
        font-size: 1rem;
        vertical-align: -0.125rem;

    }
}

.get-sta-title {
    color: var(--text-color-mixed);
    font-size: clamp(1.125rem, 0.6875rem + 1.9444vw, 2rem);
    font-family: 'HyliaSerif';
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-block: 0.5rem;

}

.get-sta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--text-color-standard));
    max-width: 98vw;
    margin-inline: auto;
    padding-inline: 0.5rem;
    row-gap: 1rem;

    & li {
        padding-left: 0.25rem;

        &::marker {
            content: '*';
            font-family: 'TriForce';
            color: var(--text-color-mixed);
            font-size: 1rem;
            line-height: 1.25rem;
            text-shadow: 0 0 5px var(--text-color-mixed);
        }
    }

    >.get-sta-download-container,
    >.install-container,
    >.what-to-know-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.download-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    >.download-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--border-color);
        border-radius: 15px;
        padding: 1rem;
        /** lighter than normal box shadow, unique to these cards due to overlap of the shadows **/
        box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.1), inset var(--bx-shdw-dark);

        >h2 {
            font-family: 'BreathOfWild';
            letter-spacing: 0.05em;
            margin-bottom: 1.5rem;
            color: var(--text-color-mixed);
        }

        & .buttons-row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
}

.install-cards-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--bx-shdw-light);

    >.install-card {
        display: grid;
        grid-template-columns: 85% 15%;
        padding: 0.8rem 1.8rem;
        box-shadow: inset var(--bx-shdw-dark);

        &:nth-child(2),
        &:nth-child(3) {
            border-top: 2px solid var(--border-color);
        }

        & .install-card-title {
            color: var(--text-color-mixed);
            font-family: 'HyliaSerif';
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.05em;
            padding-bottom: 0.2rem;
        }

        >.install-buttons {
            place-self: center;
            width: 80%;

            >button {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            grid-template-rows: auto;
            grid-template-columns: none;
            gap: 0.5rem;
        }
    }
}

.what-to-know-card {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
    padding: 0.8rem 1.8rem;

    & .what-to-know-title,
    .what-to-know-subtitle {
        color: var(--text-color-mixed);
        font-family: 'HyliaSerif';
        letter-spacing: 0.05em;
        padding-bottom: 0.2rem;
    }

    & .what-to-know-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    & .what-to-know-subtitle {
        font-size: 1rem;
        font-weight: 400;
    }

    & .what-to-know>li>ul {
        padding-left: 1rem;
    }
}

/****** New Mechanics Page ******/

.content-section>.new-mechanics-page-container.content {
    /** Specificity 3 with above selector, for overriding the grid column **/
    grid-column: 1 / span 3;
    width: 100%;
    max-width: min(98vw, 1440px);
}

.new-mech-title {
    color: var(--text-color-mixed);
    font-family: 'HyliaSerif';
    font-size: clamp(1.75rem, 1.375rem + 1.6667vw, 2.5rem);
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
    text-align: center;
}

.new-mech-card-container {
    display: grid;
    width: 100%;
    color: rgb(var(--text-color-standard));
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 95vw), 1fr));
    justify-content: center;

    >.new-mech-card {
        grid-template-rows: subgrid;
        grid-row: auto / span 2;
        display: grid;
        border: 2px solid var(--border-color);
        border-radius: 15px;
        box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
        max-width: 450px;
        margin-inline: auto;
        overflow: hidden;
        margin: 0.75rem;
        justify-self: center;

        >.new-mech-card-title {
            grid-row: 1;
            color: var(--text-color-mixed);
            font-family: 'HyliaSerif';
            font-size: clamp(1.125rem, 1.0625rem + 0.2778vw, 1.25rem);
            font-weight: 600;
            letter-spacing: 0.05em;
            padding-bottom: 0.2rem;
            text-align: center;
            width: 100%;
            background-image: var(--bgColorGradient);
            padding: 0.7rem 1rem;
            box-shadow: var(--bx-shdw-dark);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >.new-mech-card-description {
            grid-row: 2;
            font-size: clamp(0.875rem, 0.8314rem + 0.1362vw, 1rem);
            min-height: min-content;
            overflow-y: auto;
            /** firefox tends to be weird around 5-600px, this "fixes" it **/

            >ul {
                height: max-content;
                margin-inline: 2rem;
                margin-block: 1rem;

                >li {
                    margin-block: 0.25rem;
                    text-wrap: pretty;
                    text-wrap: balance;

                    &::marker {
                        content: '* ';
                        color: rgb(var(--color-primary-rgb-values));
                        font-size: 1.2rem;
                        font-family: 'TriForce';
                    }
                }
            }
        }
    }
}

/****** FAQ Page ******/

.faq-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-accordion {
    width: min(100%, 95vw);
    color: rgb(var(--text-color-standard));
    border: 2px solid var(--border-color);
    border-radius: 15px;
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
    overflow: hidden;

    >.accordion-button {
        color: var(--text-color-mixed);
        text-align: left;
        font-family: 'HyliaSerif';
        font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.25rem);
        font-weight: 600;
        letter-spacing: 0.05em;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        width: 100%;
        border-bottom: 2px solid var(--border-color);
        cursor: pointer;

        >.accordion-title {
            margin: 0.3rem;
            transition: transform 180ms cubic-bezier(.8, .8, 0.5, 2);
        }

        &:nth-last-of-type(1) {
            border-bottom: unset;
        }

    }

    >.accordion-content {
        font-size: clamp(0.9rem, 0.625rem + 0.5556vw, 1rem);
        box-shadow: inset var(--bx-shdw-dark);
        overflow: hidden;
        height: 0;

        .content-centerer {
            padding: 2rem 1.5rem;

            >ol {
                padding-left: 2rem;
            }

            >ol>li>button {
                color: var(--text-color-mixed);
                text-decoration: underline;
                font-family: var(--standard-font);
                font-weight: 600;
                font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
                letter-spacing: normal;
                cursor: pointer;
            }
        }
    }
}

/****** Card Styling for all pages ******/
.card-box {
    border: 3px solid var(--border-color);
    border-radius: 15px;
    padding: 1rem;
    color: var(--text-color-mixed);
    display: flex;
    flex-direction: column;
    background-color: var(--sub-bgColor);
    width: calc(33% - 1rem);
    max-width: 98vw;

    @media (max-width: 997px) {
        width: calc(50% - 1rem);
    }

    @media (max-width: 600px) {
        width: calc(100% - 1rem);
    }


    >.image-container {
        box-shadow: var(--bx-shdw-light), inset 0 0 4px 2px rgba(var(--color-primary-rgb-values), 0.3);
        border-radius: 10px;
        overflow: hidden;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgColor);
        background-image: radial-gradient(circle, rgba(var(--color-primary-rgb-values), 0.2) 5%, transparent 55%);
        margin-bottom: 1.5rem;
    }

    >.card-desc-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 26%, rgb(var(--color-secondary-rgb-values)));
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.35), inset 0 0 7px 3px rgba(0, 0, 0, 0.2);


        >.card-title {
            font-family: 'HyliaSerif';
            font-weight: 500;
            letter-spacing: 0.05em;
            border-width: 0 0 4px 0;
            border-style: outset;
            border-color: transparent;
            border-image: linear-gradient(to right, rgba(var(--color-primary-rgb-values), 0.1)15%, transparent 90%);
            border-image-slice: 1;
            width: max-content;
            padding-right: 3.5rem;
            text-wrap: wrap;
        }

        >.card-desc {
            color: var(--text-color-standard);
            margin-block: 1rem;
        }

        >.location-button {
            cursor: pointer;
            color: var(--text-color-mixed);
            place-self: start;
            font-size: 0.8rem;

            >i {
                margin-left: 0.5rem;
                transition: transform 0.3s;
            }

            &[aria-expanded="true"] {
                >i {
                    transform: rotate(180deg);
                }
            }
        }

        >.location-holder {
            margin-top: 0.5rem;
            height: 0;
            overflow: hidden;


            >.location-text {
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
                background-color: var(--bgColor);
                border-radius: 15px;
                box-shadow: inset var(--bx-shdw-dark);
            }
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

}

.gamepadIcons {
    font-family: 'promptfont';
    font-size: 1.5rem;

}

/****** Items Page ******/
/* .items-page-container,
.enemies-page-container,
.npc-page-container {

    @media (min-width: 768px) {
        max-width: 80vw;
        margin-inline: auto;
    }
} */

.section-title {
    font-family: 'HyliaSerif';
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: clamp(1.375rem, 1.0625rem + 1.3889vw, 2rem);
    color: var(--text-color-mixed);
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
}

.image-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    >.carousel-item {
        width: 100%;
        flex-shrink: 0;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            display: block;
        }
    }

}

.card-desc-container:has(>.desc-title) {
    gap: 0.5rem;

    >.desc-title {
        border: unset;
        background: unset;
        letter-spacing: 0.05em;
        color: var(--text-color-mixed);
        font-size: clamp(0.875rem, 0.8472rem + 0.1235vw, 1rem);
        cursor: pointer;
        place-self: start;
        display: flex;

        >h4 {
            font: inherit;
            font-family: 'HyliaSerif';
            font-weight: 300;
        }

        >i {
            margin-left: 0.5rem;
            transition: transform 0.2s ease-in-out;
        }

        &[aria-expanded="true"] {
            >i {
                transform: rotate(180deg);
            }
        }
    }

    >.weapon-desc {
        font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
        height: 0;
        overflow: hidden;

        background-color: var(--bgColor);
        box-shadow: inset var(--bx-shdw-dark);
        border-radius: 15px;

        >.desc-content {
            padding: 0.5rem 0.75rem;
            transition: height 300ms ease-out;
        }
    }
}

/****** Spell Page ******/
.spell-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    >.spell-page-title {
        font-family: 'HyliaSerif';
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: clamp(1.375rem, 1.0625rem + 1.3889vw, 2rem);
        color: var(--text-color-mixed);
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
    }
}

.spell-page-des-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(var(--text-color-standard));
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
    max-width: 1080px;

    >h2 {
        font-family: 'HyliaSerif';
        font-weight: 600;
        letter-spacing: 0.08em;
        font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.25rem);
        color: var(--text-color-mixed);
        width: 100%;
        text-align: center;
        background-image: var(--bgColorGradient);
        padding: 0.75rem 1.3rem;
    }

    >.spell-desc {
        font-size: clamp(0.9rem, 0.625rem + 0.5556vw, 1rem);
        padding: 1rem 1.3rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.spell-page-card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    >.spell-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: rgb(var(--text-color-standard));
        overflow: hidden;
        border-radius: 15px;
        border: 2px solid var(--border-color);
        box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
        min-width: 300px;
        width: calc(33% - 1rem);
        max-width: 98vw;

        @media (max-width: 997px) {
            width: calc(50% - 1rem);
        }

        @media (max-width: 600px) {
            width: calc(100% - 1rem);
        }

        >.img-wrapper {
            overflow: hidden;
            padding: 0.25rem;
            aspect-ratio: 1;
            max-height: 200px;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-image: radial-gradient(circle, rgba(var(--color-primary-rgb-values), 0.2) 5%, transparent 55%);
            }
        }

        >.spell-card-title {
            font-family: 'HyliaSerif';
            font-weight: 600;
            letter-spacing: 0.08em;
            font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.25rem);
            color: var(--text-color-mixed);
            padding: 0.75rem 1.3rem;
        }
    }
}

.element-type-card {

    >.spell-card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.8rem;
        align-items: center;

        >.element-type {
            font-family: 'HyliaSerif';
            font-weight: 600;
            letter-spacing: 0.08em;
            font-size: clamp(0.875rem, 0.75rem + 0.5556vw, 1.125rem);
            color: var(--text-color-mixed);
            width: fit-content;
            display: flex;
            align-items: center;

            >img {
                aspect-ratio: 1;
                height: 32px;
            }

            >span {
                font-size: clamp(0.625rem, 0.5rem + 0.5556vw, 0.875rem);
                padding-top: 0.2rem;
                padding-left: 0.5rem;
            }
        }
    }
}

.cast-type-card {

    >.cast-type-wrapper {
        max-width: 95%;

        >.cast-type {

            >.type-title {
                font-family: 'HyliaSerif';
                font-weight: 600;
                letter-spacing: 0.08em;
                font-size: clamp(0.875rem, 0.75rem + 0.5556vw, 1.125rem);
                color: var(--text-color-mixed);
                width: 100%;
                text-align: start;
                padding-left: 0.4rem;
            }

            >ul>li,
            >ul>li>ul>li {
                font-size: clamp(0.875rem, 0.8125rem + 0.2778vw, 1rem);
                padding-left: 1rem;
                padding-bottom: 0.5rem;
                list-style: none;

            }
        }
    }
}

.level-up-card {

    >.spell-card-content {

        >.level-up-desc {
            font-family: 'HyliaSerif';
            letter-spacing: 0.08em;
            font-size: clamp(0.875rem, 0.8125rem + 0.2778vw, 1rem);
            color: var(--text-color-mixed);
            max-width: 95%;
            margin: auto;
            justify-content: center;
            align-items: center;
            text-align: center;

            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            >.attribute-type {

                >.attribute-title {
                    font-family: 'HyliaSerif';
                    letter-spacing: 0.08em;
                    font-weight: 400;
                    font-size: clamp(0.75rem, 0.6875rem + 0.2778vw, 0.875rem);
                    color: var(--text-color-mixed);
                }

                >ul>li {
                    font-family: var(--standard-font);
                    font-size: clamp(0.625rem, 0.5rem + 0.5556vw, 0.875rem);
                    padding-left: 0.5rem;
                    padding-bottom: 0.5rem;
                    list-style: none;
                    color: var(--text-color-standard);
                }
            }

        }
    }
}

.spellbook-card,
.cube-card {
    padding: 0 0.5rem 0.8rem 0.5rem;
}

/****** Stats Page ******/
.stats-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 98vw;
    margin-inline: auto;

    >h1 {
        font-family: 'HyliaSerif';
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: clamp(1.375rem, 1.0625rem + 1.3889vw, 2rem);
        color: var(--text-color-mixed);
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
    }
}

.stats-page-des-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(var(--text-color-standard));
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
    max-width: 1080px;

    >h2 {
        font-family: 'HyliaSerif';
        font-weight: 600;
        letter-spacing: 0.08em;
        font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.25rem);
        color: var(--text-color-mixed);
        width: 100%;
        text-align: center;
        background-image: var(--bgColorGradient);
        padding: 0.75rem 1.3rem;
    }

    >.stats-desc {
        font-size: clamp(0.9rem, 0.625rem + 0.5556vw, 1rem);
        padding: 1rem 1.3rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.stats-title {
    color: var(--text-color-mixed);
    font-size: clamp(1.125rem, 0.6875rem + 1.9444vw, 2rem);
    font-family: 'HyliaSerif';
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-block: 0.5rem;
}

/****** Hover Rules ******/
@media (hover: hover) {
    .on-hover-box {
        transition: scale 150ms ease, box-shadow 250ms ease;

        &:hover {
            box-shadow: inset var(--bx-shdw-dark), var(--bx-shdw-light);
            scale: 1.005;
            transform-origin: center;
        }
    }

    .on-button-hover {
        transition: box-shadow 200ms ease, text-shadow 200ms ease;

        &:hover {
            box-shadow: var(--bx-shdw-light), inset var(--bx-shdw-dark);
            text-shadow: 0 0 3px rgba(var(--color-primary-rgb-values), 0.2);
        }
    }

    .social-media-button {
        transition: transform 200ms ease-out, color 200ms ease;

        &:hover,
        &:focus {
            transform: scale(1.1);

            &:nth-of-type(1) {
                color: hsl(226.7, 58.4%, 65.1%);
            }

            &:nth-of-type(2) {
                color: hsl(0, 0%, 96.1%);
            }

            &:nth-of-type(3) {
                color: hsl(6.6, 70.7%, 54.5%);
            }
        }

    }

    .toc-button {
        transition: color 250ms ease, text-shadow 250ms ease;

        &:hover {
            text-shadow: 0 0 3px rgba(var(--color-primary-rgb-values), 0.7);
        }
    }

    .nav-item>button {
        transition: background-size 250ms ease;
        background-image: radial-gradient(rgba(var(--color-primary-rgb-values), 0.2) 0%, transparent 80%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0% 0%;

        &:hover {
            background-image: radial-gradient(rgba(var(--color-primary-rgb-values), 0.2) 0%, transparent 80%);
            background-size: 100% 100%;
        }
    }


    .nav-item>.nav-dropdown>ul>li {
        transition: background-size 250ms ease;
        background-image: radial-gradient(rgba(var(--color-primary-rgb-values), 0.2) 0%, transparent 65%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0% 0%;

        &:hover {
            background-image: radial-gradient(rgba(var(--color-primary-rgb-values), 0.2) 0%, transparent 65%);
            background-size: 100% 100%;
        }
    }

    #color-picker-btn {
        transition: box-shadow 250ms ease;

        &:hover {
            box-shadow: inset var(--bx-shdw-dark), var(--bx-shdw-light);
        }
    }
}

/****** Fonts ******/
@font-face {
    font-family: 'BreathOfWild';
    src: url(Assets/Fonts/TheWildBreathofZelda.otf);
    font-display: swap;
}

@font-face {
    font-family: 'HyliaSerif';
    src: url(Assets/Fonts/HyliaSerifBeta-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: 'TriForce';
    src: url(Assets/Fonts/Triforce-y07d.ttf);
    font-display: block;
}

@font-face {
    font-family: 'PromptFont';
    src: url(Assets/Fonts/promptfont.otf) format('opentype');
    src: url(Assets/Fonts/promptfont.ttf) format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Boxicons';
    src: url(Assets/boxicons-2.1.4/fonts/boxicons.ttf);
    font-display: block;
}

@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    }

    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes quickFlash {
    0% {
        scale: 1;
        box-shadow: none;
    }

    20% {
        scale: 1.025;
        box-shadow: 0 0 10px 5px rgba(var(--color-primary-rgb-values), 0.5);
    }

    40% {
        scale: 1;
        box-shadow: none;
    }

    60% {
        scale: 1.025;
        box-shadow: 0 0 10px 5px rgba(var(--color-primary-rgb-values), 0.5);
    }

    80% {
        scale: 1;
        box-shadow: none;
    }
}