:root {
    --color-primary: 165, 100%, 76%;
    --color-primary-rgb-values: 133, 255, 225;

    --color-secondary: 210, 11%, 15%;
    --color-secondary-rgb-values: 0, 0, 5;

    --color-primary-full: hsl(var(--color-primary));

    --bgColor: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 15%, rgb(var(--color-secondary-rgb-values)));
    --bgColorDark: color-mix(in hsl shorter hue, hsl(var(--color-primary)) 10%, hsl(var(--color-secondary)) 100%);
    --bgColorHeading: color-mix(in hsl shorter hue, hsl(var(--color-primary), 30%) 80%, hsl(0, 0%, 13%) 20%);
    --bgColorGradient: linear-gradient(to bottom, color-mix(in hsl shorter hue, hsl(var(--color-primary)) 30%, black 70%) 0%, var(--bgColor) 80%);

    --border-color: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 70%, rgb(10, 10, 10) 60%);

    --text-color-standard: 215, 215, 215;
    --text-color-mixed: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 90%, rgb(var(--text-color-standard)) 10%);

    --standard-font: Arial, Helvetica, sans-serif;
    --transitionDuration: 100ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
main {
    height: 100%;
}

body{
    font-family: var(--standard-font);
    background-color: var(--bgColor);
    transition: background-color var(--transitionDuration);
}

.homepageBg {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: start;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 6px 2px hsla(0, 0%, 0%, 0.5);
    background-color: hsla(0, 0%, 0%, 0.5);


    @media (max-width: 768px) {
        justify-content: space-between;
    }

    >.nav-toggle {
        /** This is the hamburger for mobile nav menu **/
        border-radius: 10px;
        background-color: hsla(0, 0%, 0%, 0.1);
        backdrop-filter: blur(3px);
        max-height: 32px;
        min-width: 40px;
        aspect-ratio: 1;
        order: 3;
        position: relative;
        border: hsla(var(--color-primary), 0.5) 2px solid;
        display: inline-block;
        cursor: pointer;

        & svg {
            height: 24px;
            aspect-ratio: 1;
            fill: hsla(var(--color-primary));
        }
        
        @media (min-width: 768px) {
            display: none;
        }
    }

    >svg {
        height: 56px;
        order: 1;
        fill: hsl(var(--color-primary));
    }

    & .nav-list {
        display: flex;
        list-style: none;
        gap: 1rem;
        align-items: center;
        margin-inline: 2rem;
        order: 2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: var(--bgColorGradient);
        opacity: 0; /* Start fully transparent */
        transition: opacity 400ms ease;
        z-index: -1; /* Place behind content */
    }
}

@media (max-width: 768px) {
    nav {
        display: grid;
        grid-template-areas: "nav-icon nav-toggle" "nav-list nav-list";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        /* outline: lime 1px dashed; */
        max-width: 100vw;
        border-radius: 0 0 13px 13px;

        >.nav-list {
            display: flex;
            flex-direction: column;
            grid-area: nav-list;
            justify-self: end;
            margin: 0 1rem;
            text-align: end;
            overflow: hidden;
            height: 0;
            align-items: flex-end;
        }

        >svg {
            grid-area: nav-icon;
        }
        
        >.nav-toggle {
            grid-area: nav-toggle;
            justify-self: end;
        }

        & #wiki-list-dropdown {
            justify-self: center;
            align-self: center;
        }

        & .nav-dropdown {
            position: relative;
            height: 0;
            overflow: hidden;
            background-color: hsla(0, 0%, 0%, 0.1);
            backdrop-filter: blur(3px);
            transition: height 200ms ease;
            border-radius: 2vw;
            
            >ul>li {
                margin-inline-start: 5rem;
                margin-block: 0.2rem;
                list-style-type: none;
                padding: 0.25rem;
            }
        }

        & #wiki-list-dropdown[aria-expanded="true"]+.nav-dropdown {
            height: 600px;
            transition: height 200ms ease-out;
        }
    }

    /* .mobile-nav-open {


        >.nav-list {
            outline: lime 1px dashed;
        }
    } */
}

.nav-with-content{
    background-color: hsla(0, 0%, 0%, 0.25);
    &::before {
        opacity: 0.6;
    }

}

.nav-item {
    font-family: 'HyliaSerif';
    font-weight: 500;
    letter-spacing: 0.05em;
    
    
    & #wiki-list-dropdown {
        /** This is the dropdown arrow **/
        position: relative;
        &::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    & button {
        text-decoration: none;
        background: none;
        border: none;
        color: hsl(var(--color-primary));
        font: inherit;
        cursor: pointer;

        @media (min-width: 768px) {
            transition: color 250ms ease;
            &:hover {
                color: hsl(var(--color-primary), 0.8);
            }
        }
    }
}

@media (min-width: 768px) {
    
    & .nav-dropdown {
        position: absolute;
        overflow: hidden;
        background-color: hsla(0, 0%, 0%, 0.15);
        backdrop-filter: blur(3px);
        border: hsl(var(--color-primary), 0.5) 2px solid;
        border-radius: 20px;
        translate: -25% 1rem;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform 250ms ease-in, opacity 150ms ease-in;

        & li {
            padding: 0.35rem;
            font-size: 0.85rem;
            font-family: 'BreathOfWild';
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    & #wiki-list-dropdown[aria-expanded="true"]+.nav-dropdown {
        transform: scaleY(1);
        opacity: 1;
        transition: transform 250ms cubic-bezier(.18,.89,.32,1.28), opacity 150ms ease-in;
    }
}

.content-section {
    height: 100%;
    width: min(95vw, 1280px);
    margin: 0 auto;
    padding-top: 15px;
}

.code-box {
    background-color: hsl(0, 0%, 6%);
    width: fit-content;
    display: inline-block;
    margin-inline: 0.15rem;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
    color: var(--text-color-mixed);
    font-family: monospace;
}

.card-box {
    border: 3px solid var(--border-color);
    border-radius: 15px;
    padding: 1rem;
    color: var(--text-color-mixed);
    background-color: color-mix(in srgb, currentcolor 20%, rgb(var(--color-secondary-rgb-values)));
    display: flex;
    flex-direction: column;
    background-color: color-mix(in srgb, rgba(var(--color-primary-rgb-values), 0.3) 50%, rgb(var(--color-secondary-rgb-values)));
    min-width: 300px;
    width: calc(33% - 1rem);
    max-width: 98vw;

    @media (max-width: 997px) {
        width: calc(50% - 1rem);
    }

    @media (max-width: 600px) {
        width: calc(100% - 1rem);
    }
    

    >.image-container {
        box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.2), inset 0 0 4px 2px rgba(var(--color-primary-rgb-values), 0.3);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgColor);
        background-image: radial-gradient(circle, rgba(var(--color-primary-rgb-values), 0.2) 5%, transparent 55%);
        margin-bottom: 1.5rem;
    }

    >.card-desc-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        background-color: color-mix(in srgb, rgb(var(--color-primary-rgb-values)) 26%, rgb(var(--color-secondary-rgb-values)));
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.35), inset 0 0 7px 3px rgba(0, 0, 0, 0.2);


        >.card-title {
            font-family: 'HyliaSerif';
            font-weight: 500;
            letter-spacing: 0.05em;
            border-width: 0 0 4px 0;
            border-style: outset;
            border-color: transparent;
            border-image: linear-gradient(to right, rgba(var(--color-primary-rgb-values), 0.1)15%, transparent 90%);
            border-image-slice: 1;
            width: max-content;
            padding-right: 3.5rem;
            text-wrap: wrap;
        }

        >.card-desc {
            color: var(--text-color-standard);
            margin-block: 1rem;
        }

        >.location-holder{

            >.location-button {
                background-color: unset;
                border: none;
                cursor: pointer;
                color: color-mix(in srgb, rgb(var(--standard-font)) 50%, rgb(16, 16, 16) );
            }

            >.location-text {
                height: 0;
                overflow: hidden;
            }
        }
    }
}

.card-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 95vw), 1fr));
    gap: 1.5rem; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.highlight-bar {
    font-family: 'HyliaSerif';
    width: 100%;
    text-align: center;
    border: 3px solid var(--border-color);
    border-radius: 15px;
    padding: 0.8rem 1rem 0.5rem 1rem; 
    margin-block: 1rem;
    color: var(--text-color-mixed);
    box-shadow: 0 0 6px 2px hsl(var(--color-primary), 0.3), inset 0 0 4px 2px hsl(var(--color-primary), 0.3);
    background-color: color-mix(in srgb, currentcolor 20%, rgb(var(--color-secondary-rgb-values)));
    display: flex;
    align-items: center;
    justify-content: center;



    &::before,
    &::after {
        content: '*';
        color: hsl(var(--color-primary));
        font-family: 'TriForce';
        font-size: 1.5rem;
        margin-inline: 1.5rem;
        vertical-align: -0.2rem;
    }


}

/****** HOME PAGE ******/
.logo-centerer {
    display: grid;
    margin: auto;
    height: 100%;
    place-content: center;
    place-items: center;
}

.logo-container {
    width: fit-content;
    font-family: 'BreathOfWild';
    color: hsl(var(--color-primary));
    text-align: center;
    font-size: clamp(2.25rem, 1.8173rem + 1.9231vw, 3.5rem);

    >img{
        max-height: 750px;
        width: 95vw;
        max-width: 900px;
    }
}

/****** ABOUT PAGE ******/
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--text-color-mixed);
    padding: 1rem;
}

.about-title {
    font-size: clamp(1.125rem, 0.6875rem + 1.9444vw, 2rem);
    font-family: 'HyliaSerif';
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.about-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "list-items";
    place-items: center;
    width: min(90vw, 1280px);
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    margin-block: 1rem;
    box-shadow: inset 0 0 3px 3px hsla(0, 0%, 0%, 0.1), 0 0 3px 3px rgba(var(--color-primary-rgb-values), 0.1);
    border: 2px solid var(--border-color);


    >.about-subtitle {
        grid-area: title;
        min-height: 55px;
        font-family: 'HyliaSerif';
        width: 100%;
        font-size: clamp(1rem, 0.9375rem + 0.2778vw, 1.125rem);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem 0.5rem;
        background-color: hsla(0, 0%, 0%, 0.15);
        box-shadow: 0 3px 3px 2px hsla(0, 0%, 0%, 0.2);


        &::before, &::after {
            content: " * ";
            font-family: "Triforce";
            color: currentColor;
            font-size: 32px;
            padding-top: 0.4rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    
    }

    >ul {
        grid-area: list-items;
        padding: 0.5rem 0.25rem;
        max-width: 80%;


        >li{
            font-family: var(--standard-font);
            font-weight: 400;
            font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
            letter-spacing: normal;
            color: rgb(var(--text-color-standard));
            text-wrap: balance;
            text-wrap: pretty;
            padding-left: 0.25rem;

            &::marker {
                content: "*";
                font-family: "Triforce";
                color: var(--text-color-mixed);
            }

            & button {
                background: none;
                border: none;
                color: var(--text-color-mixed);
                text-decoration: underline;
                font-family: var(--standard-font);
                font-weight: 600;
                font-size: clamp(0.75rem, 0.625rem + 0.5556vw, 1rem);
                letter-spacing: normal;
                cursor: pointer;
            }
        }
    }
}

/****** Getting Started Page ******/
.get-sta-button {
    background: none;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color-mixed);
    font-family: var(--standard-font);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: normal;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    margin: 0.25rem 0.5rem;
    box-shadow: inset -2px 5px 3px 1px rgba(var(--color-primary-rgb-values), 0.1), 0 0 4px 1px rgba(0,0,0,0.2);

    >i {
        padding-right: 0.25rem;
        font-size: 1rem;
        vertical-align: -0.125rem;

    }
}

.get-sta-title {
    color: var(--text-color-mixed);
    font-size: clamp(1.125rem, 0.6875rem + 1.9444vw, 2rem);
    font-family: 'HyliaSerif';
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-block: 0.5rem;
    
}

.get-sta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--text-color-standard));

    & li {
        padding-left: 0.25rem;

        &::marker {
            content: '*';
            font-family: 'TriForce';
            color: var(--text-color-mixed);
            font-size: 1rem;
            line-height: 1.25rem;
            text-shadow: 0 0 5px var(--text-color-mixed);
        }
    }

    > .gs-download-container {
        width: 100%;
    }

    >.install-container {
        width: 100%;
    }

    >.what-to-know-container {
        width: 100%;
    }
}

.download-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    >.download-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--border-color);
        border-radius: 15px;
        padding: 1rem;
        box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.1);

        >h2 {
            font-family: 'BreathOfWild';
            letter-spacing: 0.05em;
            margin-bottom: 1.5rem;
            color: var(--text-color-mixed);
        }

        & .buttons-row {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
}

.install-cards-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.1);

    >.install-card {
        display: grid;
        grid-template-columns: 85% 15%;
        padding: 0.8rem 1.8rem;
        box-shadow: inset 0 0 5px 3px rgba(var(--color-primary-rgb-values), 0.1);

        &:nth-child(2),
        &:nth-child(3) {
            border-top: 2px solid var(--border-color);
        }

        & .install-card-title {
            color: var(--text-color-mixed);
            font-family: 'HyliaSerif';
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 0.05em;
            padding-bottom: 0.2rem;
        }

        >.install-buttons {
            place-self: center;
            width: 80%;

            >button {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            grid-template-rows: 85% 15%;
            grid-template-columns: none;
        }
    }
}

.what-to-know-card {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.1), inset 0 0 5px 3px rgba(var(--color-primary-rgb-values), 0.1);
    padding: 0.8rem 1.8rem;

    & .what-to-know-title,
      .what-to-know-subtitle {
        color: var(--text-color-mixed);
        font-family: 'HyliaSerif';
        letter-spacing: 0.05em;
        padding-bottom: 0.2rem;
    }
    
    & .what-to-know-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    & .what-to-know-subtitle {
        font-size: 1rem;
        font-weight: 400;
    }

    & .what-to-know>li>ul {
        padding-left: 1rem;
    }
}

/****** New Mechanics Page ******/

.new-mechanics-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.new-mech-title {
    color: var(--text-color-mixed);
    font-family: 'HyliaSerif';
    font-size: clamp(1.75rem, 1.375rem + 1.6667vw, 2.5rem);
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
    text-align: center;
}

.new-mech-card-container {
    display: grid;
    width: min(120%, 95vw);
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 95vw), 1fr));
    gap: 2rem;
    color: rgb(var(--text-color-standard));

    >.new-mech-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--border-color);
        border-radius: 15px;
        box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.2), inset 0 0 3px 2px rgba(0, 0, 0, 0.3);
        max-width: 450px;
        margin-inline: auto;
        overflow: hidden;

        >.new-mech-card-title {
            color: var(--text-color-mixed);
            font-family: 'HyliaSerif';
            font-size: clamp(1.125rem, 1.0625rem + 0.2778vw, 1.25rem);
            font-weight: 600;
            letter-spacing: 0.05em;
            padding-bottom: 0.2rem;
            text-align: center;
            width: 100%;
            background-image: var(--bgColorGradient);
            padding: 0.7rem 1rem;
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);


        }

        >.new-mech-card-description {
            padding: 0.8rem 2rem;
            font-size: clamp(0.9rem, 0.625rem + 0.5556vw, 1rem);

            >ul>li {
                margin-block: 0.25rem;

                &::marker {
                    content: '* ';
                    color: rgb(var(--color-primary-rgb-values));
                    font-size: 1.2rem;
                    font-family: 'TriForce';
                }
            }
        }


    }
}

/****** FAQ Page ******/

.faq-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.faq-accordion {
    width: min(100%, 95vw);
    color: rgb(var(--text-color-standard));
    border: 2px solid var(--border-color);
    border-radius: 15px;
    box-shadow: 0 0 6px 4px rgba(var(--color-primary-rgb-values), 0.2), inset 0 0 3px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    >.accordion-button {
        color: var(--text-color-mixed);
        text-align: left;
        font-family: 'HyliaSerif';
        font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.25rem);
        font-weight: 600;
        letter-spacing: 0.05em;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        background-color: unset;
        width: 100%;
        border: none;
        border-bottom: 2px solid var(--border-color);
        cursor: pointer;

        >h2 {
            margin: 0.3rem ;
        }

        &:nth-last-of-type(1) {
            border-bottom: unset;
        }
        
    }

    >.accordion-content {
        font-size: clamp(0.9rem, 0.625rem + 0.5556vw, 1rem);
        box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        height: 0;

        .content-centerer {
            padding: 2rem 1.5rem;

            >ol {
                padding-left: 2rem;
            }

            >ol>li>button {
                background-color: unset;
                border: none;
                color: var(--text-color-mixed);
                text-decoration: underline;
                cursor: pointer;
                font-size: inherit;
            }
        }
    }
}

/****** Items Page ******/
.section-title {
    font-family: 'HyliaSerif';
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: clamp(1.375rem, 1.0625rem + 1.3889vw, 2rem);
    color: var(--text-color-mixed);
    width: 100%;
    text-align: center;
    padding: 1.5rem 0; 
}



/****** Fonts ******/

@font-face {
    font-family: 'BreathOfWild';
    src: url(Assets/Fonts/TheWildBreathofZelda.otf);
}

@font-face {
    font-family: 'HyliaSerif';
    src: url(Assets/Fonts/HyliaSerifBeta-Regular.otf);
}

@font-face {
    font-family: 'TriForce';
    src: url(Assets/Fonts/Triforce-y07d.ttf);
}